{% extends 'base.html.twig' %}
{% block title %}New user{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center"><b>New User</b></div>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <a href="{{ path('user_index') }}" class="btn btn-default">Back to list</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Create" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      (function($){

      $('.selectpicker').selectpicker({
        style: 'btn-default',
        size: 6
      });

      })(jQuery)

    </script>
{% endblock %}
